body {
  background-color: #618685;
  padding:45px;
}
nav {
 padding: 30px;
  background-color: #3e4444;
  position: sticky;
  top: 0;
  text-shadow: 1px 1px 0 #444;
  color: white;
  font-size: 2en
}

