body {
  background-color: #618685;
  padding:45px;
}
nav {
 padding: 30px;
  background-color: #3e4444;
  position: sticky;
  top: 0;
  text-shadow: 1px 1px 0 #444;
  color: white;
}
header {
  padding: 30px;
  height: 70%;
  background-image: url ('https://images.unsplash.com/photo-1487525219605-eadb39ae229c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c59f4f74f54caacd4233eb1404bb545&auto=format&fit=crop&w=682&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

